#remitente , label{
    
    padding:10px;
};
main {
	position:relative;
}

section#Remitente {
	width:760px;
	height:500px;
	background:#515151;
	padding:20px;
	position:absolute;
	z-index:1;
	top: 50px;
	left: 100px;
}

section#Destinatario, section#Paquete, section#roppongi {
	width:760px;
	height:500px;
	background:#515151;
	padding:20px;
	position:absolute;
	z-index:auto;
	top: 50px;
	left: 100px;
}
section#Destinatario, section#Paquete, section#roppongi {
	visibility:hidden;
}